*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: rgb(255, 161, 20);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
}
.Uniname{
    color: white;
margin-top: 20px;
font-size: large;
font-weight: bold;
font-family: sans-serif;

}
.hamburger{
    margin-top: 23px;
     margin-left: 22px;
}
.title{
    color: white;
    margin-top: 18px;
    font-size: 26px;
    font-weight: bold;
    font-family: sans-serif;
    
}
.timebtn{
    color: white;
    background-color: rgb(13, 111, 13);
    border-radius: 15%;
    font-size: 18px;
    padding: 5px;
    width: 8vw;
    margin-top: 15px;
    border: 1px solid black;
}
.accprofile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 18px;
    color: white;
    padding: 5px;
    font-size: 17px;
}
.leftcontainer{
    background: rgb(219, 219, 219);
}